/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#homePage {
  background-image: url(./images/banner.jpg);
}

/* Page Container Styles */
.content {
  width: 100%;
  height: 100%;
  margin-left: 60px;
}

/* Navigation Tooltip Styling */
#fp-nav ul li .fp-tooltip {
  color: white;
  background-color: #222;
  padding: 10px;
}

/* Navigation Styling */
#fp-nav.fp-left {
  background-color: #ed2d34;
  left: 0;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 10px;
  width: 60px;
}

/* Product Page Styling, needed for modal */
#productPage {
  position: relative;
}

/* Coloring the navbar icons white */
#fp-nav ul li a span,
#fp-nav ul li a.active span {
  background-color: white;
  color: black;
}

/* Hide title and buttons */
#product-slider h3,
#product-slider button {
  display: none;
}

/* Product slider active item setting */
#product-slider .active h3,
#product-slider .active button {
  display: block;
}

/* Modal Styling */
#modal {
  display: none;
}

#modal.modal-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 100;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
}
/* Used to prevent the carousel from stretching the screen */
.owl-carousel {
  overflow: hidden;
}

/* Used to scale down the home image. You can remove this. */
img {
  max-width: 40vw;
}

/* PLEASE START YOUR STYLES UNDERNEATH THIS */
