#contactPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* contact info styles */

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 60%;
  width: 35%;
}

.page-heading {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-subtitle {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ed2d34;
}

.contact-details-container {
  margin-top: 5vh;
}

.contact-details-heading {
  font-size: 35px;
  font-weight: 50;
}

.contact-details-description {
  color: #222;
  margin-top: 25px;
  font-size: larger;
  line-height: 25px;
}

.con-info {
  display: flex;
  flex-direction: column;
  color: #222;
}

.con-info-sub {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  gap: 30px;
}

.icons-contact {
  margin-top: 5vh;
  font-size: larger;
  gap: 20px;
}

.icon_btm {
  padding: 2%;
  border-radius: 50%;
  color: black;
}

.icon_btm:hover {
  background-color: #ed2d34;
  color: aliceblue;
}

.con-info-icon {
  font-size: xx-large;
}

.con-info-text {
  font-size: large;
}

/* form styles */

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20vh;
  height: 60%;
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 10%;
}

.contact-input {
  height: 10%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ed2d34;
}

.contact-input-msg {
  margin-top: 1.5%;
  height: 30%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ed2d34;
}

.contact-input,
::placeholder {
  font-family: sans-serif;
  font-size: 17px;
  color: black;
}

.contact-input-msg,
::placeholder {
  font-family: sans-serif;
  font-size: 17px;
  color: black;
}

.button {
  color: #ed2d34;
  border: 3px solid #ed2d34;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration-line: none;
  font-size: x-large;
  background-color: white;
}

.button:hover {
  background-color: #ed2d34;
  color: aliceblue;
  border-color: #ed2d34;
  transition: 0.6s;
}
